# Set the default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files to be normalized and converted to native line endings on checkout
*.jsx text
*.js text
*.json text
*.css text
*.html text

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
